.body_fixed {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    
}

.popup__title {
    padding-top: 39px;
    text-align: center;
    margin-bottom: 4px;
    font-size: 45px;
    line-height: 61px;
    color: #000000;
    letter-spacing: -0.03em;
}

.popup__text {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    letter-spacing: -0.03em;
}

.popup_open {
    opacity: 1;
    visibility: visible;
    
}

.popup__content {
    position: relative;
    width: 777px;
    max-height: 100%;
    padding: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.popup__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.popup__send-btn {
    margin-top: 372px;
    margin-bottom: 31px;
    padding-left: 4px;
    width: 644px;
    height: 67px;
    font-size: 20px;
    line-height: 27px;
    background-color: #AD1818;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
 
@media (max-width: 767px) {
    .popup__content {
        width: 361px;
        padding: 16px;
    }

    .popup__title {
        margin-bottom: 11px;
        padding-top: 64px;
        font-size: 25px;
        line-height: 34px;
    }

    .popup__text {
        padding: 0 60px 0 60px;
        font-size: 14px;
        line-height: 24px;

    }

    .popup__send-btn {
        margin-bottom: 64px;
        margin-top: 315px;
        width: 329px;
        height: 67px;
    }
}

    