

.aboutus_interior {
position: relative;
margin-bottom: 150px;
height: 500px;
background-repeat: no-repeat;
background-image: url('../resources/interior.png');
background-size: cover;
background-position: 50%;
}

.aboutus_image-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
}
h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    width: 956px;
    line-height: 60px;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

p.aboutus_description {
    
    margin-bottom: 30px;;
    max-width: 1048px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;

}

.aboutus_a{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 150px;
    font-family: "Manrope", sans-serif;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: -0.03em;
    text-align: center;
    width: auto;
}

@media (max-width: 1199px) {
    h1 {
        width: 802px;
        font-size: 50px;        
    }

    .aboutus_interior {
        margin-bottom: 120px;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        }

    .aboutus_image-text{
        max-width: 100%;
        bottom: 30px;

    }
    p.aboutus_description {
        font-size: 35px;
        width: 690px;
        line-height: 48px;
    }
    .aboutus_a {
        margin-bottom: 120px;
        width: 255px;
        height: 67px;
        padding: 20px 40px;
        white-space: nowrap;
        
    }
   
}

@media (max-width: 767px) {
    h1 {
        margin-bottom: 25px;
        width: 348px;
        font-size: 30px;
        line-height: 31px;
    }

    .aboutus_interior {
        width: 100%;
        margin-bottom: 80px;
        height: 304px;
    }

    .aboutus_image-text{
        font-size: 16px;
        line-height: 22px;
        width: 312px;
        bottom: 15px;
        left: 15px;
    }

    p.aboutus_description {
        width: 346px;
        font-size: 22px;
        line-height: 30px;
    }
    .aboutus_a {
        margin-bottom: 80px;
        padding: 14.5px 27px;
        width: 194px;
        height: 51px;
        border-radius: 3.8px;
        font-size: 16px;
        line-height: 22px;
        white-space: nowrap;

    }
     h2 {margin-bottom: 20px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .aboutus_interior {
    background-image: url('../resources/interior_mobile.png');
    }
}
    