.contacts-block { 
  margin: 0 auto;
  width: 1400px;
  height: 459px;
  letter-spacing: -0.03em;
  color: #121212;
}



.h7 {
  margin-left: 124px;
  margin-bottom: 24px;
  padding-top: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.contacts-wrapper {
  display: flex;
  gap: 104px;
  align-items: flex-start;
}

.contacts_number {
  display: inline-block;
  margin-left: 125px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.contacts_number::before, .contacts_email::before {
  content: '';
  display: block;
  margin-bottom: 26px;
  margin-left: -6px;
  width: 24px;
  height: 24px;
  background-image: url('../resources/telephone.png');
  background-size: contain;
}

.contacts_email {
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  
}

.email_text {
  opacity: 50%; 
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.contacts_email::before {
  margin-bottom: 15px;
  background-image: url('../resources/letter.png');
  opacity: 1; 
}

.contacts_email::after {
  content: '';
  display: block;
  margin-left: 3px;
  margin-top: 10px;
  width: 583px;
  height: 2px;
  background-image: url('../resources/Line 2.png');
  background-size: contain;
}

@media (max-width: 1199px) {
  .contacts-block { 
    width: 959px;
    height: 359px;
  }

  .h7 {
    margin-left: 16px;
    margin-bottom: 24px;
    padding-top: 120px;
  }

  .contacts-wrapper {
    gap: 114px;
  }

  .contacts_number {
    margin-left: 17px;
    font-size: 45px;
  }

  .contacts_email {
    font-size: 45px; 
  }

  .contacts_email::after {
    width: 305px;
  }
}

@media (max-width: 767px) {
  .contacts-block { 
    width: 375px;
    height: 387px;
  }

  .contacts-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .h7 {
    margin-left: 14px;
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts_number {
    margin-left: 11px;
    font-size: 35px;
    line-height: 46px;

  }

.contacts_number::before {
    margin-bottom: 20px;
    width: 18px;
    height: 18px;
  }

  .contacts_email {
    margin-left: 11px;
    font-size: 35px;
    line-height: 46px;
  }

  .email_text {
    opacity: 100%; 
  }

.contacts_email::before {
    margin-bottom: 20px;
    width: 18px;
    height: 18px;
  }
  
  .contacts_email::after {
    display: none;
  }

  
}