.nav-section {

    display: inline-flex;
    padding-top: 33px;
    
    letter-spacing: -0.03em;
}

.nav_logo {
    display: block;
    margin-right: 558px;
    width: 126px;
    height: 21px;
}

.nav {
    display: flex;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    
}

.nav_link {
    margin-right: 60px;
    font-weight: 400;
    color: #121212;
    text-decoration: none;
    letter-spacing: -0.03em;
    
}

.about {
    opacity: 50%;
    margin-bottom: 2px;
}


.nav_link:last-child {
    margin-right: 0;
}

.nav_link_about::after {
    content: '';
    display: block;
    margin-top: 2px;
    background-image: url('../resources/Line\ 1.png');
    height: 1px;
    color: #121212;
}