h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.projects_design {
    width: 100%;
    height: 450px;
    letter-spacing: -0.03em;
}

.projects_image-studio {
    margin-bottom: 15px;
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain; 
}

.projects_GK {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}

.projects_link {
    display: block;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #AD1818;
}

.projects_all_projects {
    display: block;
    margin-bottom: 150px;
    width: 100%;
    height: 153px;
    line-height: 152px;
    border: 1px solid #AD1818;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.03em;
}

.projects_all_projects:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    .projects_image-studio {
        width: 100%;
        object-fit: cover;
        height: 450px;
    }

    .projects_GK {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .projects_link {
        margin-bottom: 80px;
    }
    .projects_all_projects {
        margin-bottom: 103px;
    }
}

@media (max-width: 767px) {
    .projects_image-studio {
        width: 100%;
        object-fit: cover;
        height: 250px;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .projects_image-studio {
        margin-bottom: 20px;
    }
    .projects_GK {
        font-size: 18px;
        margin-bottom: 11px;
        line-height: 25px;
    }
    .projects_link {
        margin-bottom: 49px;
        font-size: 16px;
        line-height: 22px;
    }
    .projects_all_projects {
        font-size: 22px;
        margin-bottom: 144px;
        height: 100px;
    }
}