.services_container_black {
    margin: 0 auto;
    box-sizing: border-box;
    top: 3868px;
    width: 1400px;
    height: 1602px;
    background-color: #121212;
    color: #FFFFFF;
    letter-spacing: -0.03em;
}

h4 {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 151px;
    padding-left: 127px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.vse_uslugi {
    
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding-left: 125px;
    gap: 11px;
    row-gap: 151px;
}

.box {
    
    height: 389px;
}


.image-uslug1 {
    position: relative;
    margin-bottom: 25px;
    width: 569px;
    height: 389px;
    background-image: url('../resources/pencil.png');

}

.price {
    position: absolute;
    top: 31px;
    left: 30px;
    padding: 5px 20px;
    height: 40px;
    font-size: 22px;
    line-height: 30px;
    background-color: #AD1818;
    border-radius: 5px;
}



.image-uslug2 {
    position: relative;
    margin-bottom: 25px;
    width: 572px;
    height: 389px;
    background-image: url('../resources/colors.png');
}

.image-uslug3 {
    position: relative;
    margin-bottom: 17px;
    width: 567px;
    height: 389px;
    background-image: url('../resources/lineyka.png');
}

.image-uslug4 {
    position: relative;
    margin-bottom: 17px;
    width: 572px;
    height: 389px;
    background-image: url('../resources/korobki.png');
}

.text-uslug {
    width: 344px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.order {
    margin-top: 164px;
    margin-left: 125px;
    width: 1150px;
    height: 153px;
    background-color: #AD1818;
    color: #FFFFFF;
    font-size: 30px;
}
