.services_container_black {
    margin: 0 auto;
    box-sizing: border-box;
    top: 3868px;
    width: 1400px;
    height: 1602px;
    background-color: #121212;
    color: #FFFFFF;
    letter-spacing: -0.03em;
}

h4 {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 151px;
    padding-left: 127px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.vse_uslugi {
    
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding-left: 125px;
    gap: 11px;
    row-gap: 151px;
}

.box {
    height: 389px;
}


.image-uslug1 {
    position: relative;
    margin-bottom: 25px;
    width: 569px;
    height: 389px;
    background-image: url('../resources/pencil.png');

}

.price {
    position: absolute;
    top: 31px;
    left: 30px;
    padding: 5px 20px;
    height: 40px;
    font-size: 22px;
    line-height: 30px;
    background-color: #AD1818;
    border-radius: 5px;
}



.image-uslug2 {
    position: relative;
    margin-bottom: 25px;
    width: 572px;
    height: 389px;
    background-image: url('../resources/colors.png');
}

.image-uslug3 {
    position: relative;
    margin-bottom: 17px;
    width: 567px;
    height: 389px;
    background-image: url('../resources/lineyka.png');
}

.image-uslug4 {
    position: relative;
    margin-bottom: 17px;
    width: 572px;
    height: 389px;
    background-image: url('../resources/korobki.png');
}

.text-uslug {
    width: 344px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.order {
    margin-top: 164px;
    margin-left: 125px;
    margin-bottom: 150px;
    width: 1150px;
    height: 153px;
    background-color: #AD1818;
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 5px;
    border: none;
}

@media (max-width: 1199px) {
    .services_container_black {
        width: 960px;
        height: 1381px;
    }

    h4 {
    padding-left: 19px;
    }

    .vse_uslugi {
    padding-left: 15px;
    gap: 10px;
    row-gap: 136px;
    }
    .box {
        height: 315px;
    }

    .image-uslug1, .image-uslug2, .image-uslug3, .image-uslug4 {
        position: relative;
        margin-bottom: 15px;
        width: 460px;
        height: 315px;
    }

    .price {
        position: absolute;
        left: 32px;
        padding: 7px 27px;
        height: 40px;
        font-size: 20px;
        line-height: 27px;
    }

    .text-uslug {
        width: 393px;
        font-size: 25px;
    }

    .order {
        margin-top: 136px;
        margin-left: 17px;
        margin-bottom: 120px;
        width: 928px;
        height: 153px;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .services_container_black {
     width: 375px;
     height: 1663px;
    }

    h4 {
        
        margin-bottom: 20px;
        padding-top: 80px;
        padding-left: 17px;
        font-size: 14px;
        line-height: 19px;
    }

    .vse_uslugi {
        
        row-gap: 101px;
        padding-left: 14px;
        
    }

    .box {
        height: 240px;
    }

    .image-uslug1, .image-uslug2, .image-uslug3, .image-uslug4 {
        position: relative;
        margin-bottom: 10px;
        width: 350px;
        height: 240px;
        background-size: contain;
    }
    .price {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 5px 24px;
    height: 30px;
    font-size: 14px;
    line-height: 19px;
    background-color: #AD1818;
    border-radius: 3.8px;
    }

    .text-uslug {
    font-size: 18px;
    line-height: 31px;
}

    .order {
        margin-top: 101px;
        margin-left: 13px;
        margin-bottom: 80px;
        width: 353px;
        height: 100px;
        font-size: 22px;
        border-radius: 3.8px;
    }
}