@import "../styles/nav.css";
@import "../styles/contacts.css";
@import "../styles/projects.css";
@import "../styles/aboutus.css";
@import "../styles/services.css";
@import "../styles/project-lesnoy.css";
@import "../styles/last-black.css";

* {
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.module1 {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    min-height: 3868px;
}

.adcontainer {
    margin: 0 auto;
    
    padding-left: 125px;
    padding-right: 125px;
    min-height: 3868px;
    background: #FFFFFF;
    
}

h1, h2, h3 {
    letter-spacing: -0.03em;
    color: #121212;
}




@media (max-width: 1199px) {
    .adcontainer {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }

    
    
}

@media (max-width: 767px) {
    .adcontainer {
       
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    
    
    


}